{
    "presets": [
        "@babel/preset-env"
    ],
    "ignore": [],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ],
    "sourceMaps": true,
    "retainLines": true
}
